---
# my home assistant configuration

homeassistant:
  name: Home
  latitude: !secret hass_config_lat
  longitude: !secret hass_config_long
  elevation: 158
  unit_system: metric
  time_zone: !secret hass_tz
  customize: !include_dir_merge_named customization/customize/
  customize_domain: !include customization/customize_domain.yaml
  customize_glob: !include customization/customize_global.yaml
  auth_providers:
    - type: homeassistant

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret proxy_ip

# default config
automation: !include_dir_merge_list automation/
config:
conversation:
frontend:
  themes: !include_dir_merge_named themes
history:
  include: !include integrations/history_include.yaml
logbook:
logger:
  default: error
  logs:
    homeassistant.components.http.ban: warning
    # homeassistant.components.homekit: debug
    # pyhap: debug
    # pydeconz: debug
    # homeassistant.components.deconz: debug
lovelace: !include lovelace/lovelace.yaml
map:
mobile_app:
person: !include integrations/person.yaml
recorder:
  db_url: !secret mysql_db
  purge_keep_days: 30
  include: !include integrations/recorder_include.yaml
  exclude: !include integrations/recorder_exclude.yaml
scene: !include integrations/scenes.yaml
script: !include_dir_merge_named script/
sun:
system_health:
updater:
  reporting: false
zeroconf:

### one liners
binary_sensor: !include integrations/binary_sensor.yaml
counter: !include integrations/counter.yaml
cover: !include integrations/cover.yaml
device_tracker: !include integrations/device_tracker.yaml
group: !include integrations/groups.yaml
homekit: !include integrations/homekit.yaml
input_boolean: !include integrations/input_boolean.yaml
input_datetime: !include integrations/input_datetime.yaml
input_number: !include integrations/input_number.yaml
input_select: !include integrations/input_select.yaml
ios: !include integrations/ios.yaml
media_player: !include integrations/media_player.yaml
notify: !include integrations/notify.yaml
plant: !include integrations/plant.yaml
sensor: !include_dir_merge_list sensor/
shell_command: !include integrations/shell_command.yaml
switch: !include integrations/switch.yaml
zone: !include integrations/zone.yaml

### other components
asuswrt:
  host: !secret router_ip
  username: !secret router_login
  ssh_key: !secret router_ssh
  sensors:
    - upload
    - download

mqtt:
  discovery: true
  discovery_prefix: homeassistant
  broker: !secret mqtt_ip
  port: !secret mqtt-int_port
  client_id: homeassistant-1
  username: !secret mqtt_user
  password: !secret mqtt_password
  birth_message:
    topic: 'hass/status'
    payload: 'online'
  will_message:
    topic: 'hass/status'
    payload: 'offline'

owntracks:
  max_gps_accuracy: 200
  waypoints: true
  waypoint_whitelist:
    - !secret name_1
  new_device_defaults:
    track_new_devices: false

speedtestdotnet:
  monitored_conditions:
    - ping
    - download
    - upload

weather:
  - platform: openweathermap
    api_key: !secret owm_ak
